---
import Title from "./title.astro";
import img1 from "../assets/img1.jpg";
import img3 from "../assets/img1.jpg";
import img7 from "../assets/img1.jpg";
import img8 from "../assets/img1.jpg";
import img11 from "../assets/img1.jpg";
import img12 from "../assets/img1.jpg";

const images = [
  { src: img1.src, name: "Project 1" },
  { src: img3.src, name: "Project 2" },
  { src: img7.src, name: "Project 3" },
  { src: img8.src, name: "Project 4" },
  { src: img11.src, name: "Project 5" },
  { src: img12.src, name: "Project 6" },
];
---

<section class="section counter-section section-animation parallax-section">
  <Title title="Projects" />
  
  <div class="gallery-row row-left ">
    {images.map((img) => (
      <div class="gallery-item" data-speed="1.2">
        <div class="gallery-item-inner">
          <img src={img.src} alt={img.name} />
          <div class="gallery-overlay">
            <span class="gallery-title">{img.name}</span>
          </div>
        </div>
      </div>
    ))}
    {images.map((img) => (
      <div class="gallery-item" data-speed="1.2">
        <div class="gallery-item-inner">
          <img src={img.src} alt={img.name} />
          <div class="gallery-overlay">
            <span class="gallery-title">{img.name}</span>
          </div>
        </div>
      </div>
    ))}
  </div>

  <div class="gallery-row row-right">
    {[...images].reverse().map((img) => (
      <div class="gallery-item" data-speed="0.8">
        <div class="gallery-item-inner">
          <img src={img.src} alt={img.name} />
          <div class="gallery-overlay">
            <span class="gallery-title">{img.name}</span>
          </div>
        </div>
      </div>
    ))}
    {[...images].reverse().map((img) => (
      <div class="gallery-item" data-speed="0.8">
        <div class="gallery-item-inner">
          <img src={img.src} alt={img.name} />
          <div class="gallery-overlay">
            <span class="gallery-title">{img.name}</span>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>


<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  function initGalleryParallax() {
 
    gsap.to(".row-left", {
      x: -800,
      ease: "none",
      scrollTrigger: {
        trigger: ".parallax-section",
        start: "top bottom",
        end: "bottom top",
        scrub: 1.5,
      }
    });

 
    gsap.to(".row-right", {
      x: -400,
      ease: "none",
      scrollTrigger: {
        trigger: ".parallax-section",
        start: "top bottom",
        end: "bottom top",
        scrub: 1,
      }
    });


    gsap.utils.toArray(".gallery-item").forEach((item, index) => {
      gsap.from(item as HTMLElement, {
        opacity: 0,
        y: 60,
        duration: 0.8,
        ease: "power3.out",
        scrollTrigger: {
          trigger: item as HTMLElement ,
          start: "top bottom-=100",
          toggleActions: "play none none reverse"
        },
        delay: (index % 6) * 0.1
      });
    });


    gsap.utils.toArray(".gallery-item img").forEach((img) => {
      const speed = parseFloat(img.closest(".gallery-item").getAttribute("data-speed")) || 1;
      
      gsap.to(img as HTMLElement , {
        y: -50 * speed,
        ease: "none",
        scrollTrigger: {
          trigger: (img as HTMLElement).closest(".gallery-item"),
          start: "top bottom",
          end: "bottom top",
          scrub: 2,
        }
      });
    });


    gsap.from(".parallax-section h2, .parallax-section .title", {
      opacity: 0,
      y: 50,
      duration: 1,
      ease: "power3.out",
      scrollTrigger: {
        trigger: ".parallax-section",
        start: "top 80%",
        toggleActions: "play none none reverse"
      }
    });
  }


  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initGalleryParallax);
  } else {
    initGalleryParallax();
  }

  document.addEventListener('astro:page-load', initGalleryParallax);
</script>